
# Ignore files not meant for distribution
plugins/dwangoAC.js
dist/plugins/dwangoAC.js
assets/3rdparty/
make-readme.sh

# Ignore installed packages
node_modules/
package-lock.json

# Ignore reference material
notes/
notes.txt

# Ignore swap/temporary/compiled files
*.py[co]
.sw[po]
.*.sw[po]
README.html
